# Environment
NODE_ENV=development
PORT=3333

# Database
DB_USERNAME=root
DB_PASSWORD=""
DB_PORT=3306
DB_HOST=localhost
DB_DATABASE=edtech
DB_DIALECT=mysql

DATABASE_URL="${DB_DIALECT}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

# JWT
JWT_SECRET=meu_secret_super_seguro_123
JWT_EXPIRES_IN=7d
